SUBSYSTEM=="net",ACTION=="add",DRIVERS=="?*",ATTR{address}=="c4:00:ad:01:76:c2",KERNEL=="e*",NAME="eth0"
SUBSYSTEM=="net",ACTION=="add",DRIVERS=="?*",ATTR{address}=="c4:00:ad:01:76:c3",KERNEL=="e*",NAME="eth1"
SUBSYSTEM=="net",ACTION=="add",DRIVERS=="?*",ATTR{address}=="c4:00:ad:01:76:c4",KERNEL=="e*",NAME="eth2"
SUBSYSTEM=="net",ACTION=="add",DRIVERS=="?*",ATTR{address}=="c4:00:ad:01:76:c5",KERNEL=="e*",NAME="eth3"
